# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Dataset
data/raw/
data/processed/

# Trained models
models/*.pth
models/*.pt
models/*.onnx

# Logs
logs/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db